<section class="hero is-title">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-one-fifth">
                <figure class="image is-128x128">
                    <img src="../assets/logo.png" />
                </figure>
            </div>
            <div class="column">
                <h1 class="title">
                    EOL - Sistema de Instaladores
                </h1>
                <h2 class="subtitle">
                    Consulte e assuma Ordens de Serviço!
                </h2>
            </div>
            <div>
                <button class="button" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <h3 class="subtitle">
        Ordens de Serviço em aberto
    </h3>
    <div class="box" *ngFor="let item of ordens">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    <b>{{item.client.name}} {{item.client.lastName}}</b>
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <b>Plano:</b> {{item.plan}}
                    <br />
                    <b>Endereço:</b> {{item.client.location.address}}
                    <br>
                    <b>Data Solicitação:</b> {{item.creationDateFormated}}
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Assumir OS</a>
                <a href="#" class="card-footer-item">Finalizar</a>
            </footer>
        </div>
    </div>
</section>