<section class="hero is-title">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-one-fifth">
                <figure class="image is-128x128">
                    <img src="../assets/logo.png" />
                </figure>
            </div>
            <div class="column">
                <h1 class="title">
                    EOL - Sistema de Instaladores
                </h1>
                <h2 class="subtitle">
                    Consulte e assuma Ordens de Serviço!
                </h2>
            </div>
            <div>
                <button class="button" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <h3 class="subtitle">
        Ordens de Serviço em aberto
    </h3>
    <div class="box" *ngFor="let item of screenOrdens">
        <div class="card">
            <div class="card-header">
                <div class="column is-four-fifths">
                    <p class="card-header-title">
                        <b>{{item.client.name}} {{item.client.lastName}}</b>
                    </p>
                </div>
                <div *ngIf="item.attributionDate" class="column atribuido">
                    Atribuído
                </div>
            </div>

            <div class="card-content">
                <div class="content">
                    <b>Plano:</b> {{item.plan}}
                    <br />
                    <b>Endereço:</b> {{item.client.location.address}}
                    <br>
                    <b>Data Solicitação:</b> {{item.creationDateFormated}}
                </div>
            </div>
            <footer class="card-footer">
                <button *ngIf="!item.attributionDate" (click)="openModal(item, false)"
                    class="card-footer-item botao-assumir">Assumir OS</button>
                <button *ngIf="item.attributionDate" (click)="openModal(item, true)"
                    class="card-footer-item botao-finalizar">Finalizar</button>
            </footer>
        </div>
    </div>
</section>